.de-slider {
    width: 100%;
    overflow: hidden;

    position: relative;
}
.de-slider__line {
    display: flex;
    height: auto;
}

.de-slider__slide {
    width: 100%;
}
.de-slider__slide > img {
    width: 100%;
    height: 100%;
}

.de-slider__control {
    cursor: pointer;

    width: 40px;
    height: 40px;

    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.de-slider__control:hover {}

.de-slider__control_next {
    right: 30px;
}

.de-slider__control_prev {
    left: 30px;
    transform: rotate(180deg);
}

.de-slider__control svg {
    stroke: rgb( 255, 255, 255 );
    opacity: 0.9;
    width: 40px;
    height: 40px;
}

.de-slider__control_black svg {
    stroke: rgb( 0, 0, 0 );
    opacity: 0.9;
    width: 40px;
    height: 40px;
}
