.de-slider {
    width: 100%;
    overflow: hidden;

    position: relative;
}
.de-slider__line {
    display: flex;
    height: 100%;
}

.de-slider__slide {
    width: 100%;
}
.de-slider__slide > img {
    width: 100%;
    height: auto;
}

.de-slider__control {
    cursor: pointer;

    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 6px;

    position: absolute;
    top: 50%;
    margin-top: -20px;

    fill: rgba( 255, 255, 255, 0.7 );
    background: rgba( 0, 0, 0, 0.4 );
}

.de-slider__control:hover {
    fill: rgba( 255, 255, 255, 0.9 );
    background: rgba( 0, 0, 0, 0.3 );
}

.de-slider__control_next {
    right: 0;
}

.de-slider__control_prev {
    left: 0;
    transform: rotate(180deg);
}
